.header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* stop content expanding full width in flex-column view */

  @media (min-width: 800px) {
    max-width: 50%;
    min-height: calc(100dvh - var(--space-xxxl));
  }
}

.header__subheading {
  font-size: var(--space-md);
  font-family: var(--font-body);
  margin-bottom: var(--space-unit);
  color: #555555;

  @media (min-width: 800px) {
    max-width: 75%;
  }
}
