.header {
  min-height: 80vh;
  display: flex;
  gap: var(--space-sm);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* stop content expanding full width in flex-column view */

  /* Tablet */
  @media (min-width: 720px) {
    max-width: 75%;
    gap: var(--space-xs);
  }

  /* Extra large */
  @media (min-width: 1440px) {
    max-width: 50%;
  }
}

.header__subheading {
  font-size: var(--space-md);
  font-family: var(--font-body);
  margin-bottom: var(--space-unit);
  color: #555555;
  line-height: var(--space-lg);

  @media (min-width: 864px) {
    max-width: 75%;
    line-height: var(--space-md);
  }
}
