/* https://medium.com/codyhouse/create-your-design-system-part-4-spacing-895c9213e2b9 */
:root {
  /* Font */
  --font-heading: "Space Mono", monospace;
  --font-body: "Hanken Grotesk", sans-serif;
  --base-font-size: 18px;
  --small-base-font-size: 16px;
  --line-height: 1.6;

  /* Spacing */
  --space-unit: 1em;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.64 * var(--space-unit));
  --space-sm: calc(0.8 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(1.563 * var(--space-unit));
  --space-xl: calc(1.953 * var(--space-unit));
  --space-xxl: calc(2.441 * var(--space-unit));
  --space-xxxl: calc(3.052 * var(--space-unit));
  --space-xxxxl: calc(3.815 * var(--space-unit));

  --border-radius: 4px;

  /*
    Colors 
  */
  --grey-1: #f5f5f5;
  --grey-2: #bdbdbd;
  --grey-3: #858585;
  --grey-4: #4c4c4c;
  --grey-5: #141414;

  /* Breakpoints */
  /* Phone ~720px */
  --small-device: 40em;
  /* Tablet ~864px */
  --medium-device: 48em;
  /* Laptop ~1152px */
  --large-device: 64em;
  /* Desktop ~1440px */
  --xl-device: 80em;
}

html[data-theme="light"] {
  --bg-primary: var(--grey-1);
  --bg-secondary: var(--grey-5);

  --border-color: var(--grey-2);

  --font-color-primary: var(--grey-5);
  --font-color-secondary: var(--grey-4);
}

html[data-theme="dark"] {
  --bg-primary: var(--grey-5);
  --bg-secondary: var(--grey-1);

  --border-color: var(--grey-2);

  --font-color-primary: var(--grey-2);
  --font-color-secondary: var(--grey-3);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/*
  Main styles
*/

body {
  background-color: var(--bg-primary);
  color: var(--font-color-primary);
  /* Phone & above */
  font-size: var(--small-base-font-size);

  /* Laptop & above */
  @media (min-width: 864px) {
    font-size: var(--base-font-size);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  font-size: var(--space-xxxxl);
  padding-bottom: var(--space-xxs);
  font-weight: 600;
}

h2 {
  font-size: var(--space-xxxl);
}

h3 {
  font-size: var(--space-xxl);
}

h4 {
  font-size: var(--space-xl);
}

h5 {
  font-size: var(--space-lg);
}

h6 {
  font-size: var(--space-md);
}

p {
  font-size: var(--space-unit);
  line-height: var(--space-lg);
  font-family: var(--font-body);
}

span {
  font-family: var(--font-body);
}

hr {
  border: none;
  background: var(--border-color);
  width: 50%;
  max-width: 75%;
  height: 1px;
  margin: 2em 0;
}

/*
  Utils
*/

.stack {
  display: flex;
  flex-direction: column;
}

.stack--gap {
  gap: var(--space-xs);

  /* Tablet */
  @media (min-width: 720px) {
    gap: var(--space-unit);
  }
}

.hoverable {
  opacity: 0.6;
  transition: 300ms;
}

.hoverable:hover {
  opacity: 1;
  cursor: pointer;
}

.hoverable.active {
  opacity: 1;
}

.container {
  /* Phone */
  margin: 0 auto;
  width: 90vw;

  /* Tablet */
  @media (min-width: 720px) {
    width: 90vw;
  }

  /* Laptop */
  @media (min-width: 864px) {
    width: 75vw;
  }

  /* Desktop */
  @media (min-width: 1152px) {
    width: 60vw;
  }

  /* Extra large */
  @media (min-width: 1440px) {
    width: 60vw;
  }
}

.fade {
  transform: translateY(var(--space-sm));
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.fade.in-view {
  transform: none;
  opacity: 1;
}

/*
  Elements
*/

/* Add a top margin to account for fixed nav */
main {
  /* Navbar height + padding-bottom + padding-top */
  margin-top: calc(var(--space-xxl) + var(--space-xl) + var(--space-md));

  /* Tablet */
  @media (min-width: 720px) {
    margin-top: calc(var(--space-xxl) + var(--space-xxl) + var(--space-md));
  }

  /* Laptop */
  @media (min-width: 864px) {
    margin-top: calc(var(--space-xxl) + var(--space-xxxl) + var(--space-md));
  }

  /* Desktop */
  @media (min-width: 1152px) {
    margin-top: calc(var(--space-xxl) + var(--space-xxxxl) + var(--space-md));
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  height: var(--space-xxl);
  padding-bottom: var(--space-sm);
  padding-top: var(--space-md);
  background-color: var(--bg-primary);
  /* Keep at top of screen */
  position: fixed;
  top: 0;
  overflow: hidden;
  border-bottom: 1px solid var(--border-color);
}

.navbar--right {
  display: flex;
  align-items: center;
  gap: var(--space-md);

  /* Tablet */
  @media (min-width: 720px) {
    gap: var(--space-lg);
  }
}

.navbar--right #theme-toggle {
  display: flex;
  align-items: center;
}

.navbar__link {
  color: inherit;
  font-size: 1em;
  text-decoration: none;
  font-family: var(--font-heading);
}

.content {
  max-width: 100%;
  /* Tablet */
  @media (min-width: 720px) {
    max-width: 75%;
  }

  /* Laptop */
  @media (min-width: 864px) {
    max-width: 75%;
  }

  /* Desktop */
  @media (min-width: 1152px) {
    max-width: 70%;
  }

  /* Extra large */
  @media (min-width: 1440px) {
    max-width: 60%;
  }
}

.header {
  display: flex;
  gap: var(--space-sm);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* stop content expanding full width in flex-column view */

  /* Tablet */
  @media (min-width: 720px) {
    gap: var(--space-sm);
  }
}

.header__description {
  font-family: var(--font-body);
  font-size: var(--space-unit);
  color: var(--font-color-secondary);
  line-height: var(--space-lg);

  @media (min-width: 864px) {
    max-width: 90%;
  }
}

.code-snippet {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin-bottom: var(--space-lg);
}

.code-snippet__box {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.code-snippet__box pre {
  display: flex;
  overflow-x: hidden;
}

.code-snippet__box pre code {
  font-family: var(--font-heading);
  font-size: var(--space-sm);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  width: 100%;
  line-height: var(--space-md);
}

.code-snippet__tabs {
  display: flex;
  gap: var(--space-md);
  padding: var(--space-sm) var(--space-md);
  font-size: var(--space-sm);
}

/* .button {
  background-color: rgba(1, 1, 1, 0.05);
  border-radius: 50px;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  color: rgba(1, 1, 1, 1);
  margin: 0px 30px 0px 0px;
  text-decoration: none;
  display: inline-block;
  font-family: var(--font-body);
} */

/* .button--primary {
  background-color: #4e4d4d;
  color: white;
  text-decoration: none;
  padding: var(--space-xs) var(--space-lg);
  border-radius: 4px;
  font-family: var(--font-body);
} */

/* .button--primary:hover {
  cursor: pointer;
  background-color: #676666;
} */
