.navbar {
  --navbar-border: 1px solid var(--grey);

  display: flex;
  justify-content: center;
  font-family: var(--font-heading);
  border-bottom: var(--navbar-border);
  height: var(--space-xxl);

  ul {
    display: flex;
    align-items: center;
    gap: var(--space-lg);
  }

  /* Tablet */
  @media (min-width: 720px) {
    height: var(--space-xxxl);
  }
}

.navbar__item:hover {
  cursor: pointer;
}
