.navbar {
  --navbar-border: 1px solid var(--grey);
  --navbar-height: var(--space-xxxl);

  display: flex;
  justify-content: center;
  font-family: var(--font-heading);
  border-bottom: var(--navbar-border);

  ul {
    display: flex;
    align-items: center;
    gap: var(--space-lg);
  }

  @media (min-width: 800px) {
    height: var(--navbar-height);
  }
}

.navbar__item:hover {
  cursor: pointer;
}
