/* Wrapper/Containers */
.container {
  margin-left: var(--space-md);
  margin-right: var(--space-md);

  @media (min-width: 800px) {
    margin-left: var(--space-xxl);
    margin-right: var(--space-xxl);
  }
}
